/* ------Reset Styles ------- */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* -------- Comun Styles --------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card-container {
    border: solid blue;
    width: 720px;
    display: flex;
    flex-direction: row;

}

.card-score {
    border: solid red;
    width: 360px;
}

.card-summary {
    border: solid green;
    width: 360px;
}




@media (max-width: 375px) {


    .card-score {
      background-color: aqua;
    }

    .card-summary {
     background-color: blueviolet;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  
    
  }